*.mp3
*.ogg
*.wav
*.flac
*.pdf
*.mp4
*.aac
*.wma
*.m4a
*.m4p
*.aiff
*.alac
*.oga
*.mogg
*.opus
*.webm
/assets/images/artwork/*.jpg
/assets/images/artwork/*.jpeg
/assets/images/artwork/*.png
/assets/images/artwork/*.bmp